<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/png" href="/img/logo (2).png" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Legend Platform</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="../secondary/style.css" />
  </head>
  <body>
    <main>
      <header id="header">
        <div class="overlay overlay-lg">
          <img src="../img/shapes/square.png" class="shape square" alt="" />
          <img src="../img/shapes/circle.png" class="shape circle" alt="" />
          <img
            src="../img/shapes/half-circle.png"
            class="shape half-circle1"
            alt=""
          />
          <img
            src="../img/shapes/half-circle.png"
            class="shape half-circle2"
            alt=""
          />
          <img src="../img\shapes\wave.png" class="shape wave wave1" alt="" />
          <img src="../img\shapes\wave.png" class="shape wave wave2" alt="" />
          <img src="../img/shapes/x.png" class="shape xshape" alt="" />
          <img src="../img\shapes\triangle.png" class="shape triangle" alt="" />
        </div>

        <nav>
          <div class="container">
            <div class="logo">
              <a href="/">
                <img src="../img\logo (2).png" alt="" />
              </a>
            </div>

            <div>
              <input type="checkbox" class="checkbox" id="chk" />
              <label class="label" for="chk">
                <i class="fas fa-moon"></i>
                <i class="fas fa-sun"></i>
                <div class="ball"></div>
              </label>
            </div>
          </div>
        </nav>

        <div class="header-content">
          <div class="container grid-2">
            <div class="column-1"></div>

            <div class="column-2 image">
              <img
                src="../img/shapes/points2.png"
                class="points points2"
                alt=""
              />
              <div class="column-1 image">
                <iframe
                  width="800"
                  height="500"
                  src="https://www.youtube.com/embed/a16sY1J3i_o"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen=""
                ></iframe>
              </div>
            </div>
          </div>
        </div>

        <br />
        <section class="blog section">
          <div class="container">
            <div class="section-header">
              <h3 class="title" data-title="">
                  Preparatory
              </h3>
              <p class="text"></p>
            </div>
            <div class="blog-wrapper">
              

              <div class="blog-wrap">
                <div class="blog-card">
                  <div class="blog-image">
                    <img
                      src="../img/132189326_443620340329749_9204594249215702127_n.jpg"
                      alt=""
                    />
                  </div>

                  <div class="blog-content">
                    <div class="blog-info">
                      <h5 class="blog-date">August, 02 2020</h5>
                      <h5 class="blog-user"></h5>
                    </div>
                    <h3 class="title-sm">3rd</h3>
                    <p class="blog-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam est suscipit itaque?</p>

                    <a
                      href="/Preparatory/3rd"
                      class="btn small"
                      >enter</a
                    >
                  </div>
                </div>
              </div>
             
            </div>
          </div>
        </section>
      </header>
    </main>

    <footer class="footer">
      <div class="container">
        <div class="grid-4"></div>

        <div class="bottom-footer">
          <div class="copyright">
            <p class="text">
              © Copyright 2022. All Rights Reserved.

              <br />Developed By:
              <a
                rel="nofollow"
                href="https://www.facebook.com/profile.php?id=100011225383830"
                >Abdelrahman</a
              >
              &
              <a rel="nofollow" href="https://www.facebook.com/ahmed11mahomed">
                Kotb</a
              >
            </p>
          </div>

          <div class="followme-wrap">
            <div class="followme">
              <h3>Follow us</h3>
              <span class="footer-line"></span>
              <div class="social-media">
                <a
                  href="https://www.facebook.com/profile.php?id=100063696370542&_rdc=1&_rdr"
                >
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://t.me/mrtaherthelegendofenglish">
                  <i class="fa-brands fa-telegram"></i>
                </a>
                <a
                  href="https://www.youtube.com/channel/UCNltASDBUDxqrCpfsMBZGRw"
                >
                  <i class="fa fa-youtube"></i>
                </a>
                <a href="whatsapp://send?text=Hello!&phone=+201013319334">
                  <i class="fa fa-whatsapp"></i>
                </a>
              </div>
            </div>

            <div class="back-btn-wrap">
              <a href="#" class="back-btn">
                <i class="fas fa-chevron-up"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script
      src="https://kit.fontawesome.com/f05b3a1e7e.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="../secondary/app.js"></script>
  </body>
</html>
